.contentAreaContainer {
  width: 838px;
  max-width: 838px;
  margin: 1.5rem 0;
  padding: 0;
  clear: left;
  float: right;
}
.contentAreaHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: normal;
}
.contentAreaHeaderContainer a {
  color: #039;
  text-decoration: none;
  outline: 0;
}
.contentAreaHeaderContainer a:hover {
  text-decoration: underline;
}

/* Content Area Product List with Image*/
.contentAreaProductContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  outline: none;
  padding: 9px 0 0 0;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}

.productA {
  /* float: left; */
  width: 104px;
  max-height: 109px;
  padding: 7px 14px 5px 0;
  text-align: left;
  font-size: 11px;
  color: initial;
  text-decoration: none;
}
.productA:hover {
  text-decoration: underline;
}

.productImg {
  display: block;
  border: 1px solid #e6e6e6;
  width: 103px;
  height: 78px;
  background: #f5f5f5;
}

.productImg + * {
  margin-top: 3px;
}

/*Content Area Oto360 Section*/

.contentAreaOto360Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: normal;
  margin-top: 110px;
}

.oto360AltListeDiv {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  gap: 5px;
}
.oto360AltListeDiv ul {
  display: inline-block;
  margin-right: 5px;
  width: 95px;
}
.oto360AltListeDiv ul a {
  display: flex;
  align-items: center;
  -moz-box-align: center;
  flex-shrink: 0;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  height: 30px;
  line-height: 125%;
}
.oto360AltListeDiv ul a:hover {
  text-decoration: underline;
}

.oto360A::before {
  background-image: url("/src/assets/s360HomePageShowcase.png");
  width: 24px;
  height: 24px;
  content: "";
  flex-shrink: 0;
  display: inline-block;
  margin-right: 5px;
}

.AracDegerlemeA::before {
  background-position: -34px 0;
}
.AracKarsilastirmaA::before {
  background-position: -68px 0;
}
.AracHasarA::before {
  background-position: -102px 0;
}
.OtoEkspertizA::before {
  background-position: 0 -69px;
}
.KrediTekA::before {
  background-position: -102px -34px;
}
.SifirAracA::before {
  background-position: -34px -69px;
}
.AracAlimA::before {
  background-position: 0 -35px;
}
.AracSatisA::before {
  background-position: 0 -35px;
}

/* Content Area Emlak 360 */

.contentAreaEmlak360Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: normal;
  margin-top: 50px;
}

.Emlak360AltListeDiv {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  background-color: yellow;
}
