.contentAreaContainer {
  width: 837px;
  max-width: 837px;
  margin: 1.5rem 0;
  padding: 0;
  clear: left;
  float: right;
}
.contentAreaHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: normal;
}
.contentAreaHeaderContainer a {
  color: #039;
  text-decoration: none;
  outline: 0;
  padding-right: 0.5rem;
}
.contentAreaHeaderContainer a:hover {
  text-decoration: underline;
}

/* Content Area Product List with Image*/
.contentAreaProductContainer {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  padding: 9px 0 0 0;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}

.productA {
  width: 103px;
  max-height: 109px;
  padding: 7px 16px 5px 0;
  text-align: left;
  font-size: 11px;
  color: initial;
  text-decoration: none;
}
.productA:hover {
  text-decoration: underline;
}

.productImg {
  display: block;
  border: 1px solid #e6e6e6;
  width: 103px;
  height: 78px;
  background: #f5f5f5;
}

.productImg + * {
  margin-top: 3px;
}

