.headerContainer {
  background-color: #3f475f;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.secondContainer {
  width: 1115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.logoContainer {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
}

.logo {
  margin-top: 12px;
  text-indent: -9999px;
  background-image: url("/src/assets/sahibindenlogos.png");
  background-position: -254px -88px;
  width: 160px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/* SEARCH CONTAINER */
.searchContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.6rem;
}
.searchContainer input {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 243px;
  height: 34px;
  padding-left: 7px;
  padding-right: 40px;
  margin-top: 11px;
  background: #2f3546;
  font-size: 11px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: whitesmoke;
}
.searchContainer input:focus {
  background-color: #fff;
  color: #2f3339;
}

.searchBtn {
  height: 36px;
  padding: 0;
  margin: 0;
  width: 38px;
  border: 0;
  cursor: pointer;
  background: 0;
  outline: 0;
  border-radius: 0 3px 3px 0;
  position: relative;
  right: 2.2rem;
}
.searchBtn::before {
  background-image: url("/src/assets/sahibindenlogos.png");
  background-position: -53px -264px;
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  text-indent: 0;
  font-size: 18px;
  color: #fff;
}
.searchContainer input:focus + .searchBtn {
  background-color: #4391e6;
  color: white;
  top: 1px;
}

.searchContainer input:focus ~ a {
  visibility: hidden;
  color: yellow;
}

.xBtn {
  color: #3388e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: none;
  position: relative;
  top: 4.5px;
  line-height: 0rem;
}
.xBtn:hover {
  color: #489af1;
}
.searchContainer input:focus ~ .xBtn {
  display: initial;
}

.detayliArama {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.detayliArama:hover {
  text-decoration: underline;
}

/* RIGHT CONTAİNER */

.rightContainer > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.girisveuyeollink {
  color: #ebebeb;
  font-size: 12px;
  text-shadow: 1px 1px 0 #2f3339;
  text-decoration: none;
  padding-inline: 0.5rem;
}
.uyeol {
  -webkit-box-shadow: inset 1px 0 0 0 #60656e;
  box-shadow: inset 1px 0 0 0 #60656e;
  border-left: 1px solid yellow;
  border-left: 1px solid #404349;
}
.girisveuyeollink:hover {
  text-decoration: underline;
}
.ucretsizilanlink {
  font-size: 13px;
  padding: 10px 19px 8px 19px;
  margin-left: 11px;
  background-color: #489af1;
  border: 0;
  color: #fff;
  text-decoration: none;
  line-height: 1.4em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
}
.ucretsizilanlink:hover {
  background: #3388e3;
}
