.footerUstContainer {
  padding-top: 0rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

.besliCete {
  width: 234px;
  display: inline-block;
}
.besliCeteSon {
  width: 130px;
}
.besliCete > * {
  display: block;
  text-align: left;
}

.besliCete > h2 {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  padding: 0.5rem 0;
  margin-bottom: 5px;
}

.besliCete > a {
  font-size: 12px;
  color: #888;
  text-decoration: none;
  line-height: 20px;
  margin-bottom: 8px;
}
.besliCete > a:hover {
  text-decoration: underline;
}
